<h4>Register</h4>
<form (ngSubmit)="addUser(formdata)" #formdata=ngForm>
    Name: <input type="text" name="uname" ngModel required #uname=ngModel>
    <div *ngIf ="uname.invalid">
        username is required
    </div>
    Email: <input type="email" name="uemail" ngModel required email #uemail=ngModel>
    <div *ngIf="uemail.invalid">
        <div *ngIf="uemail.errors.required">
            Email cannot be empty
        </div>
        <div *ngIf="uemail.errors.email">
            Email is invalid
        </div>
    </div>
    Password: <input type="password" name="pass" ngModel required #pass=ngModel>
    <div *ngIf ="pass.invalid">
        Password is required
    </div>
    <button class="btn btn-success" [disabled]="formdata.invalid">Submit</button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
</form>